html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, Pretendard, sans-serif;
}

/* body::-webkit-scrollbar {
  width: 6px;
}
body::-webkit-scrollbar-thumb {
  height: 17%;
  background-color: #22c55ea0;
  border-radius: 10px;
}

body::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0);
} */

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "Pretendard";
  font-weight: 900;
  src: url("../fonts/Pretendard-Black.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 800;
  src: url("../fonts/Pretendard-ExtraBold.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 700;
  src: url("../fonts/Pretendard-Bold.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 600;
  src: url("../fonts/Pretendard-SemiBold.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 500;
  src: url("../fonts/Pretendard-Medium.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 400;
  src: url("../fonts/Pretendard-Regular.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 300;
  src: url("../fonts/Pretendard-Thin.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 200;
  src: url("../fonts/Pretendard-Light.woff2");
}
@font-face {
  font-family: "Pretendard";
  font-weight: 100;
  src: url("../fonts/Pretendard-ExtraLight.woff2");
}
